# 01-Exercise-Solutions

### 2 Iterate a list of names to return a list of the names starting with H

In [ ]:
my_name_list = ["Herbert", "Hubert", "Holly", "Dennis", "Børge"]
print(my_name_list)

check = 'H'

# Checker på index 0 (starten af navnet) om det matcher H og lower h.

result = [idx for idx in my_name_list if idx[0].lower() == check.lower()]
print(result)

['Herbert', 'Hubert', 'Holly', 'Dennis', 'Børge']
['Herbert', 'Hubert', 'Holly']

### 3 In one line create a list of the numbers 1-100 to the power of 3

In [ ]:
my_number_list = list(range(1,101))
print(my_number_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
my_comp = [element**3 for element in my_number_list]
print(my_comp)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

### 4 Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name

In [ ]:
my_tuple_list = [(2, "Bo"),(6, "Dennis")]
print("Custom tuple list:",my_tuple_list)

my_tuple_list1 = [(len("Bo"),"Bo"), (len("Dennis"),"Dennis")]
print("Tuple list with length calculating:",my_tuple_list1)

in1 = input("enter name")
in2 = input("enter name")

my_tuple_list2 = [(len(in1),in1), (len(in2),in2)]
print("Tuple list with input:",my_tuple_list2)

Custom tuple list: [(2, 'Bo'), (6, 'Dennis')]
Tuple list with length calculating: [(2, 'Bo'), (6, 'Dennis')]

enter name test
enter name est

Tuple list with input: [(4, 'test'), (3, 'est')]

### 5 Iterate over each character in a string and get only those that are nummeric

In [ ]:
new_string = "hHudlJ298Jt5"

emp_str = ""
for m in new_string:
    if m.isdigit():
        emp_str = emp_str + m
print("Find numbers from string:",emp_str)

Find numbers from string: 2985

### 6 Using only a list comprehension wrapped in set() get all possible combinations from throwing 2 dice (hint use 2 for loops in a single list comprehension). Result should look like: [2,3,4,5,6,7,8,...] or a more complex/accurate solution: [(1,1),(1,2)...] in a way that (1,2) is equal to (2,1).

In [30]:
dice = [1,2,3,4,5,6]
sides = [1,2,3,4,5,6]
my_dice_set = ([])

for i in range(len(dice)):
    my_dice_set = my_dice_set + i
    print(my_dice_set)

TypeError: can only concatenate list (not "int") to list

## 7 Create 2 dictionary comprehensions to solve the following:

### 8 Iterate a list of names and create a dictionary where key is the name and value is the length of the name

### 9 Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}

### 10 Extra assignment (This one goes beyond what is covered in the course notebooks. So only do it if you want an extra challenge).

#### Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys (eg: 2,3,4...etc) and their likelyhood in percent as values